:root {
  --site-pad: 0px;
  --menu-height: 60px;
}

@media (min-width: 1024px) {
  :root {
    --site-pad: 1024px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #042207;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1001;
}

#top-nav nav a {
  margin-left: 20px;
  color: #27f7a0;
  text-decoration: none;
}

.logo {
  font-size: 28px;
  font-family: monospace;
  color: #27f7a0;
}

.desktop-nav.a {
  margin-left: 20px;
  color: #27f7a0;
  text-decoration: none;
}

#menu-toggle {
  display: none;
  font-size: 28px;
  color: #27f7a0;
  cursor: pointer;
  transition: 0.3s;
}

#menu-toggle:hover {
  transform: scale(1.1);
}

/* #menu-toggle::before {
  content: "☰";
} */

/* #menu-toggle.active::before {
  content: "✕";
} */

/* #menu-toggle.active {
  right: 150px;
} */

/* #close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #50a158;
  font-size: 20px;
} */

#topbar {
  /* display: block; */
  position: fixed;
  top: -100%; /*hide*/
  left: 0;
  width: 100%;
  height: 50vh;
  background: rgba(1, 34, 5, 0.9);
  transition: transform 0.3s ease;
  transform: translateY(-100%);
  z-index: 1000;
}

#topbar.active {
  transform: translateY(0);
}

#topbar ul {
  list-style: none;
  margin-top: 80px;
  text-align: center;
}

#topbar li {
  margin: 20px 0;
}

#topbar a {
  display: block;
  color: #aaa;
  text-decoration: none;
  font-size: 16px;
}

#topbar a:hover {
  color: #fff;
}

h1 {
  left: 80px;
  font-size: 28px;
  font-family: monospace;
  font-weight: bold;
  color: #27f7a0;
  z-index: 1001;
}

section {
  padding: 150px 200px;
  min-height: 100vh;
}

/*profile */
.profile-container {
  display: flex;
  align-items: center;
  gap: 40px;
  /* margin-top: 100px; */
  padding: 50px;
}

.profile-text {
  /* max-width: 600px; */
  flex: 1;
}
.profile-text p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #333;
  font-size: 30px;
}

.profile-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #27f7a0;
}
.profile-image {
  position: relative;
  width: 300px;
  height: 300px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.animated-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* box-shadow: 0 0 20px 5px #27f7a0; 发光效果 */
  z-index: 1;
  /* animation: rotateGlow 3s linear infinite; */
  background: conic-gradient(from 0deg, #b1beb9, #9aa6a3, #b4bdba);
  filter: blur(10px);
  opacity: 0.8;

  animation:
    rotateRing 1s linear infinite,
    pulseRing 2s ease-in-out infinite;
}

/* keyframes */
@keyframes rotateRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseRing {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

h2 {
  margin-bottom: 10px;
}

/* ========== About me ========== */
.about-container {
  display: flex;
  max-width: 1400px;
  margin: 60px auto;
  border-radius: 12px;
  overflow: hidden;
  background: #0f0f14;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.about-tabs {
  display: flex;
  flex-direction: column;
  /* width: 20px; */
  padding: 30px 0;
  background: #0b0b10;
  border-right: 1px solid rgba(39, 247, 160, 0.2);
}

.tab-btn {
  background: none;
  border: none;
  color: #aaa;
  font-size: 16px;
  padding: 14px 30px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.tab-btn:hover {
  /* background: #50a158; */
  color: #27f7a0;
  transform: translateX(4px);
}
.tab-btn.active {
  /* font-weight: bold;
  border-left: 4px solid #27f7a0; */
  color: #27f7a0;
  font-weight: 600;
}

.tab-btn.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 60%;
  background: #27f7a0;
  border-radius: 2px;
}

.about-content {
  flex: 1;
  padding: 50px;
  background: #111;
  color: white;
  position: relative;
}
.tab-section {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  display: none;
}

.tab-section.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* ========== Skills ========== */

#skills {
  padding: 100px 50px;
  background: #111;
  color: #fff;
}

#skills h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: #27f7a0;
}

.skills-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-group {
  flex: 1;
  min-width: 250px;
  background: #0f0f14;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.skills-group h3 {
  text-align: center;
  color: #27f7a0;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: #aaa;
  transition: 0.3s;
}

.skill-item i {
  font-size: 40px;
  margin-bottom: 8px;
  color: #27f7a0;
}

.skill-item:hover {
  transform: translateY(-5px);
  color: #fff;
}
/* ========== Projects ========== */
#projects {
  padding: 100px 50px;
  background: #0f0f14;
  color: white;
  text-align: center;
}

.section-title {
  font-size: 40px;
  margin-bottom: 60px;
  color: #27f7a0;
}
/* Container */
.projects-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Card */
.project-card {
  width: 300px;
  height: 220px;
  perspective: 1000px;
}

/* Inner */
.card-content {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Hover flip */
.project-card:hover .card-content {
  transform: rotateY(180deg);
}

/* Front & Back */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Front */
.card-front {
  background: #111;
}

.card-front img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.card-front h3 {
  margin-top: 10px;
  color: #27f7a0;
}

/* Back */
.card-back {
  background: #27f7a0;
  color: #111;
  transform: rotateY(180deg);
  padding: 20px;
  text-align: center;
}

.card-back h3 {
  margin-bottom: 10px;
}

/* ========== Contact ========== */
#contact {
  padding: 80px 40px;
  background: #041b08;
  color: #27f7a0;
}

#contact h3 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}

.contact-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  min-width: 250px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #27f7a0;
  padding: 12px 18px;
  border-radius: 25px;
  background: rgba(39, 247, 160, 0.08);
  transition: 0.3s ease;
}
.contact-item:hover {
  transform: translateY(-4px);
  background: #27f7a0;
  color: #042207;
  box-shadow: 0 0 15px #27f7a0;
}

#contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact-form input,
#contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(39, 247, 160, 0.1);
  color: #fff;
}

#contact-form button {
  padding: 12px;
  border: none;
  border-radius: 40px;
  background: #27f7a0;
  color: #042207;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

#contact-form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px #27f7a0;
}

@media (max-width: 768px) {
  section {
    padding: 100px 40px;
    min-height: 100vh;
  }

  #menu-toggle {
    display: block;
  }

  #topbar.active {
    top: 0;
  }

  .desktop-nav {
    display: none;
  }

  .profile-container {
    flex-direction: column;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
  }
  .project-image img,
  .profile-image img {
    width: 100%;
    height: 100%;
  }

  .profile-container {
    text-align: center;
  }

  .about-container {
    flex-direction: column;
    margin: 20px 0;
    min-width: auto;
  }

  .about-tabs {
    flex-direction: row;
    overflow-x: auto;
    padding: 15px 0;
    width: 100%;
    justify-content: space-around;
    border-right: none;
    border-bottom: 1px solid rgba(39, 247, 160, 0.3);
  }
  .about-tabs::-webkit-scrollbar {
    display: none;
  }

  .tab-btn {
    /* text-align: center;
    border-left: none;
    border-bottom: 2px solid transparent; */
    white-space: nowrap;
    text-align: center;
    padding: 5px 20px;
  }

  .tab-btn.active::before {
    display: none;
  }

  .tab-btn.active {
    border-bottom: 2px solid #27f7a0;
  }

  .about-content {
    padding: 20px;
  }

  .skills-container {
    flex-direction: column;
    gap: 30px;
  }

  .skills-group {
    min-width: 100%;
  }

  .skill-item i {
    font-size: 36px;
  }
}

html {
  scroll-behavior: smooth; /* 平滑滚动 */
}
