* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

#menu-toggle {
  position: fixed;
  right: 100px;
  top: 20px;
  font-size: 28px;
  color: #27f7a0;
  transition: 0.3s;
  cursor: pointer;
  z-index: 101;
}

#menu-toggle.active {
  right: 150px;
}

#sidebar {
  position: fixed;
  right: -200px; /*hide*/
  top: 0;
  width: 200px;
  height: 100vh;
  background: #042207;
  transition: 0.3s;
  z-index: 100;
}

#sidebar.active {
  right: 0;
}

#sidebar ul {
  list-style: none;
  margin-top: 80px;
  text-align: center;
}

#sidebar li {
  margin: 20px 0;
}

#sidebar a {
  color: #aaa;
  text-decoration: none;
  font-size: 16px;
}

#sidebar a:hover {
  color: #fff;
}
/* nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  font-weight: bold;
}

nav a:hover {
  color: #1abc9c;
} */

/* main {
  margin-left: 200px;
  padding: 20px;
  flex: 1;
} */
h1 {
  position: fixed;
  left: 100px;
  padding: 20px 100% 10px 0;
  font-size: 28px;
  font-family: monospace;
  font-weight: bold;
  color: #042207;
  background-color: rgba(255, 255, 255, 0.8);
}

section {
  padding: 150px 100px;
  min-height: 100vh;
}

h2 {
  margin-bottom: 10px;
}

.project-card {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}

html {
  scroll-behavior: smooth; /* 平滑滚动 */
}
