:root {
  --site-pad: 0px;
  --menu-height: 60px;
}

@media (min-width: 1024) {
  :root {
    --site-pad: 1024px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  background: #042207;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1001;
}

#top-nav nav a {
  margin-left: 20px;
  color: #27f7a0;
  text-decoration: none;
}

.logo {
  font-size: 28px;
  font-family: monospace;
  color: #27f7a0;
}

.desktop-nav.a {
  margin-left: 20px;
  color: #27f7a0;
  text-decoration: none;
}

#menu-toggle {
  display: none;
  font-size: 28px;
  color: #27f7a0;
  cursor: pointer;
}

#menu-toggle::before {
  content: "☰";
}

#menu-toggle.active::before {
  content: "✕";
}

/* #menu-toggle.active {
  right: 150px;
} */

/* #close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #50a158;
  font-size: 20px;
} */

#topbar {
  /* display: block; */
  position: fixed;
  top: -100%; /*hide*/
  left: 0;
  width: 100%;
  height: 50vh;
  background: rgba(1, 34, 5, 0.9);
  transition: transform 0.3s ease;
  transform: translateY(-100%);
}

#topbar.active {
  transform: translateY(0);
}

#topbar ul {
  list-style: none;
  margin-top: 80px;
  text-align: center;
}

#topbar li {
  margin: 20px 0;
}

#topbar a {
  display: block;
  color: #aaa;
  text-decoration: none;
  font-size: 16px;
}

#topbar a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }

  #topbar.active {
    top: 0;
  }

  .desktop-nav {
    display: none;
  }
}

h1 {
  left: 80px;
  font-size: 28px;
  font-family: monospace;
  font-weight: bold;
  color: #27f7a0;
  z-index: 1001;
}

section {
  padding: 150px 100px;
  min-height: 100vh;
}

#profile-pic {
  idth: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

h2 {
  margin-bottom: 10px;
}

.project-card {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
}

html {
  scroll-behavior: smooth; /* 平滑滚动 */
}
