:root {
  --site-pad: 0px;
  --menu-height: 60px;

  --primary: #00f5d4;
  --primary-soft: #00f5d466;
  --bg-dark: #0a0f1c;
  --bg-section: #111111;
  --card-bg: #1f2937;
  --text-light: #e2e8f0;
  --text-muted: #94a3b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #020e22, #111111);
  margin: 0;
  color: var(--text-light);
  font-family: "Segoe UI", sans-serif;
}

/* =============== Notice Panel =============== */
#dev-notice {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.notice-box {
  background: #111;
  color: white;
  padding: 40px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 30px var(--primary-soft);
  position: relative;
  animation: fadeIn 0.5s ease;
}

.notice-box h2 {
  color: var(--primary);
  margin-bottom: 20px;
}

.notice-box p {
  font-size: 16px;
  line-height: 1.6;
}

#close-notice {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: var(--primary);
}

#close-notice:hover {
  color: white;
}

/* Animation of the Notice Panel */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* =============== Top =============== */
#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: transparent;
  transition: 0.3s ease;
  z-index: 1001;
}

#top-nav.scrolled {
  background: #0a101a;
}

.watermark {
  left: 80px;
  font-size: 28px;
  font-family: monospace;
  font-weight: bold;
  color: var(--primary);
  z-index: 1001;
}

/* Desktop Navigation */
.desktop-nav a {
  color: var(--text-light);
  font-weight: bold;
  margin-left: 25px;
  text-decoration: none;
  transition: 0.3s ease;
}

.desktop-nav a:hover {
  color: var(--primary);
  text-shadow: 0 0 8px var(--primary);
}
/* Mobile Navigation */
#menu-toggle {
  display: none;
  font-size: 28px;
  color: var(--primary);
  cursor: pointer;
  transition: 0.3s;
}

#menu-toggle:hover {
  transform: scale(1.1);
}

#topbar {
  position: fixed;
  top: -100%; /*hide*/
  left: 0;
  width: 100%;
  height: 50vh;
  background: rgba(1, 34, 5, 0.9);
  transition: transform 0.3s ease;
  transform: translateY(-100%);
  z-index: 1000;
}

#topbar.active {
  transform: translateY(0);
}

#topbar ul {
  list-style: none;
  margin-top: 80px;
  text-align: center;
}

#topbar li {
  margin: 30px 0 0 10px;
}

#topbar a {
  display: block;
  color: #aaa;
  text-decoration: none;
  font-size: 16px;
}

#topbar a:hover {
  color: #fff;
}

/* =============== Main Section =============== */
section {
  padding: 80px 10%;
  min-height: 100vh;
}

h1,
h2 {
  color: var(--primary);
  text-shadow: 0 0 10px var(--primary-soft);
}
/* ================ Home-Profile ================= */
.profile-container {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 80px 50px;
  flex-wrap: wrap;
}

.profile-text {
  flex: 1 1 300px;
}

.profile-text p,
.profile-text .intro {
  color: var(--text-muted);
  font-weight: bold;
}

#welcome-message {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: var(--card-bg);
  border-radius: 12px;
  display: inline-block;
}

.profile-text h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--primary);
}

.profile-text .intro {
  font-size: 20px;
  line-height: 1.6;
  color: var(--text-muted);
}

.profile-image {
  position: relative;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

/* Profile Picture Border Animation */
.animated-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
  background: conic-gradient(from 0deg, #b1beb9, #9aa6a3, #b4bdba);
  filter: blur(10px);
  opacity: 0.8;

  animation:
    rotateRing 1s linear infinite,
    pulseRing 2s ease-in-out infinite;
}

/* Profile Picture Border Animation - Keyframes */
@keyframes rotateRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseRing {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
}

/* ========== About me ========== */
h2 {
  text-align: left;
  font-size: 40px;
  margin-bottom: 50px;
  color: var(--primary);
}

.about-container {
  display: flex;
  max-width: 1400px;
  margin: 60px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

/* LHS - Tabs */
.about-tabs {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  background: var(--bg-section);
  border-right: 1px solid var(--primary-soft);
}

.tab-btn {
  background: none;
  border: none;
  color: var(--text-light);
  font-size: 16px;
  padding: 14px 30px;
  text-align: left;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.tab-btn:hover {
  color: var(--primary);
  transform: translateX(4px);
}
.tab-btn.active {
  color: var(--primary);
  font-weight: 600;
}

.tab-btn.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 60%;
  background: var(--primary);
  border-radius: 2px;
}

/* RHS - Content */
.about-content {
  flex: 1;
  padding: 50px;
  background: var(--card-bg);
  color: white;
  position: relative;
  line-height: 1.5;
}

.about-content p {
  color: var(--text-light);
  padding: 3px 0;
}

.tab-section {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  display: none;
}

.tab-section.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.tab-section[data-content="bio"] {
  text-align: justify;
}

.education-item,
.experience-item {
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: 3px solid var(--primary);
}

.education-item h4,
.experience-item h4 {
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--primary);
}

.education-item p,
.experience-item p {
  margin-bottom: 5px;
  color: var(--text-light);
  font-size: 16px;
}

/* ========== Skills ========== */
#skills {
  padding: 100px 50px;
  /* background: #111; */
  color: #fff;
}

#skills h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: var(--primary);
}

.skills-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-group {
  flex: 1;
  min-width: 250px;
  background: #0f0f14;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.skills-group h3 {
  text-align: center;
  color: var(--primary);
  margin-bottom: 20px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: #aaa;
  transition: 0.3s;
}

.skill-item i {
  font-size: 40px;
  margin-bottom: 8px;
  color: var(--primary);
}

.skill-item:hover {
  transform: translateY(-5px);
  color: #fff;
}

/* ========== Projects ========== */
#projects {
  padding: 100px 50px;
  color: white;
  text-align: center;
}

#projects h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  color: var(--primary);
}

/* Projects Container */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  justify-content: center;
}

/* Card */
.project-card {
  position: relative;
  border-radius: 15px;
  height: 250px;
  perspective: 1000px;
}

/* Content */
.card-content {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Hover flip */
.project-card:hover img {
  transform: scale(1.05);
}

.project-card:hover .card-content {
  transform: rotateY(180deg);
}

/* Front & Back */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Front */
.card-front {
  position: absolute;
  inset: 0;
  border-radius: 15px;
  overflow: hidden;
  backface-visibility: hidden;
}

.card-front img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.card-front::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(2, 14, 34, 0.65);
}

.overlay {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.card-front h3 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: left;

  text-shadow:
    0 2px 6px rgba(0, 0, 0, 0.8),
    0 0 12px rgba(0, 0, 0, 0.6);
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.project-tags span {
  background: rgba(39, 247, 160, 0.15);
  color: #27f7a0;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 20px;
  border: 1px solid rgba(39, 247, 160, 0.6);
}

/* Back */
.card-back {
  position: relative;
  background: var(--card-bg);
  color: var(--text-light);
  border: 1px solid var(--primary);
  box-shadow: 0 0 20px var(--primary-soft);
  transform: rotateY(180deg);
  padding: 20px;
  text-align: center;
}

.card-back h3 {
  margin-bottom: 10px;
}

.card-back a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #67b3fbd2;
  text-decoration: none;
}

/* ========== Contact ========== */
#contact {
  padding: 80px 40px;
  color: var(--text-light);
}

#contact h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}

.contact-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  min-width: 250px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: var(--text-light);
  padding: 12px 18px;
  border-radius: 25px;
  background: var(--card-bg);
  transition: 0.3s ease;
}

.contact-item:hover {
  transform: translateY(-5px);
  border: 1px solid var(--primary);
  box-shadow: 0 0 20px var(--primary-soft);
}

#contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact-form input,
#contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: var(--card-bg);
  color: var(--text-light);
}

#contact-form button {
  padding: 12px;
  border: none;
  border-radius: 40px;
  background: var(--primary);
  color: #042207;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

#contact-form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px var(--primary);
}

/* ============== Mobile Setting ============= */
@media (max-width: 768px) {
  section {
    padding: 100px 40px;
    min-height: 100vh;
  }

  #menu-toggle {
    display: block;
  }

  #topbar.active {
    top: 0;
  }

  .desktop-nav {
    display: none;
  }

  .profile-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    gap: 30px;
  }

  .profile-image {
    width: 200px;
    height: 200px;
  }

  .profile-text h1 {
    font-size: 32px;
  }

  .profile-text .intro {
    font-size: 18px;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-image img,
  .profile-image img {
    width: 100%;
    height: 100%;
  }

  .profile-container {
    text-align: center;
  }

  .about-container {
    flex-direction: column;
    margin: 20px 0;
    min-width: auto;
  }

  .about-tabs {
    flex-direction: row;
    overflow-x: auto;
    padding: 15px 0;
    width: 100%;
    justify-content: space-around;
    border-right: none;
    border-bottom: 1px solid rgba(39, 247, 160, 0.3);
  }

  .about-tabs::-webkit-scrollbar {
    display: none;
  }

  .tab-btn {
    white-space: nowrap;
    text-align: center;
    padding: 5px 20px;
  }

  .tab-btn.active::before {
    display: none;
  }

  .tab-btn.active {
    border-bottom: 2px solid var(--primary);
  }

  .about-content {
    padding: 20px;
  }

  .skills-container {
    flex-direction: column;
    gap: 30px;
  }

  .skills-group {
    min-width: 100%;
  }

  .skill-item i {
    font-size: 36px;
  }
}

html {
  scroll-behavior: smooth;
}
